<style type="text/css">
  
footer{

background-color: #EEE6D9;
width: 100%;

}

</style>

<style type="text/css">
/*.social {
  padding: 0;
  margin: 20px 0 0 0;
  list-style: none;
  font-size: 0;
  align-content: center;
}
.social li {
  float: left;
  margin: 0 10px 0 0;
}
.social li a {
  background: url(media/social-icon.png) no-repeat;
  width: 36px;
  height: 36px;
  display: block;
}
.social li a.facebook {
  background-position: 0 0;
}
.social li a.facebook:hover {
  background-position: 0 -56px;
}
.social li a.twitter {
  background-position: -56px 0;
}
.social li a.twitter:hover {
  background-position: -56px -56px;
}
.social li a.youtube {
  background-position: -56px 0;
}
.social li a.youtube:hover {
  background-position: -56px -27px;
}

*/
  
</style>
<!-- <table>
<tr>

<td width="10%">
<br>
<center>
<img src="/static/general/images/sponsers/1.jpg" height="90">
</td>
</center>
<center>
<td width="10%">
<br>
</center>

<center>
<img src="/static/general/images/sponsers/2.jpg" height="90">
</center>
</td>
<td width="10%">
<br>

<center>
<img src="/static/general/images/sponsers/3.jpg" height="90">
</center>
</td>

<td width="20%">
</td>
<td width="13%">

<br>
<a href="https://msg91.com/startups/?utm_source=startup-banner"><img src="https://msg91.com/images/startups/msg91Badge.png" width="120" height="90" title="MSG91 - SMS for Startups" alt="Bulk SMS - MSG91"></a>
  
</td>
<td width="13%">
<br>
<center>
<img src="/static/general/images/sponsers/4.jpg" height="90">
</center>
</td>

</tr>
</table>
 -->
<footer id="footer">

<div class="row">
<br>
<div class="row">
<div class="col s12 m1"></div>
<div class="col s12 m2">
<center>
<img src="/static/general/images/sponsers/1.jpg" height="90" align="center">
  </center>
</div>
  <div class="col s12 m2">
  <center>
<img src="/static/general/images/sponsers/2.jpg" height="90" align="center">
  </center>
</div>
  <div class="col s12 m2">
<center>
<img src="/static/general/images/sponsers/3.jpg" height="90" align="center">
  </center>
</div>
  <div class="col s12 m2">
  <center>
  <a href="https://msg91.com/startups/?utm_source=startup-banner"><img src="https://msg91.com/images/startups/msg91Badge.png" width="120" height="90" title="MSG91 - SMS for Startups" alt="Bulk SMS - MSG91" align="center"></a>
  </center>
</div>
  <div class="col s12 m2">
  <center>
<img src="/static/general/images/sponsers/4.jpg" height="90" align="center">
  </center>
</div>
</div>
<div class="row">
<div class="col s12 m3">
<hr>
  

</div>
<div class="col s12 m6">
<hr>
<center>
<a href="http://www.mindpowereducation.com" target="_blank">

           <img src="/static/general/images/mpe_logo_tm.png" width="40%" align="center"/>
</a>
<br>
<br>
  <font color="black">
 © Copyrights 2011-2017 
<br>
 Mind Power Education LLP. All Rights Reserved.
</font>
<br>
  <font color="#008ABF">
<a href="mailto:contact@mindpowereducation.com">contact@mindpowereducation.com</a> 
</font>
<br>
  <font color="black">
+91.9049019312 / +91.8149019312
</font>       
       <br>
         </center>

       </div>
<div class="col s12 m3">
<hr>
  
    <h7><b>Follow Us</b></h7>
       <ul class="social">
        <li><a href="https://www.facebook.com/pages/Mind-Power-Education/117169171698160" target="_blank" >
        <img height="24px" src="http://www.mpenavmo.com/media/facebook.png"> Facebook</a></li>
        <br>
        <li><a href="https://www.youtube.com/channel/UCnUBx8ZodhXwy4tL4T-ryKQ" target="_blank" >
        <img height="24px" src="http://www.mpenavmo.com/media/youtube.png"> Youtube</a></li>
        <br>
        <li><a href="#" target="_blank" >
        <img height="24px" src="http://www.mpenavmo.com/media/instagram.png"> Instagram</a></li>
        
        <!--<li><a href="#" target="_blank" class="twitter">twitter</a></li>-->
      </ul>

</div>
</div>
</div>
</footer>
<!--   <div class="container_12">
    <div class="grid_12"> 
        <a href="#">
          </a>
  </div>  
 -->