    <!DOCTYPE html>
    <html>
<style>
      #map {
        height: 400px;
        width: 100%;
       }
    </style>
    <head>
      <title>Home - Navmo</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          <!--Import materialize.css-->
          <link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.min.css"  media="screen,projection"/>
          <link type="text/css" rel="stylesheet" href="/static/materialize/css/colour.css"  media="screen,projection"/>

          <!--Let browser know website is optimized for mobile-->
          <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </head>

    {% include "base_head.html" %}
    {% block content %}

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

          <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
          <script type="text/javascript" src="/static/materialize/js/materialize.min.js"></script>
    <script type="text/javascript"> $(document).ready(function(){
          $('.slider').slider({full_width: true});
        });
            </script>


    <!-- <section class="slider_wrapper">
      <div id="camera_wrap" class="">
        <div data-src="/static/general/images/slide.jpg"></div>
        <div data-src="/static/general/images/slide1.jpg"></div>
        <div data-src="/static/general/images/slide2.jpg"></div>  
      </div>  
    </section> 
     -->

    <body>

     <div class="slider" >
        <ul class="slides">
          <li>
            <img src="/static/general/images/slide.jpg" width="100%"> <!-- random image -->
            <div class="caption center-align">
              <h3 class="light white-text text-lighten-3"></h3>
              <h5 class="light grey-text text-lighten-3">Your child is awesome.</h5>
            </div>
          </li>
          <li>
            <img src="/static/general/images/slide1.jpg" width="100%"> <!-- random image -->
            <div class="caption left-align">
              <h3>Navmo is Here !</h3>
              <h5 class="light grey-text text-lighten-3">We will help you making your kid more beautiful.</h5>
            </div>
          </li>
          <li>
            <img src="/static/general/images/slide2.jpg" width="100%"> <!-- random image -->
            <div class="caption right-align">
              <h3 class="light white-text text-lighten-3">Competetion matters</h3>
              <h5 class="light grey-text text-lighten-3">Lets Win </h5>
            </div>
          </li>
          </ul>
      </div>
          
    <!--=====================
              Content
    ======================-->
   <!--  <section id="content"><div class="ic">Mpe Navmo</div>
      <article class="block-1 ">
      
      <div class="container_12">
        <div class="grid_3">
          <div class="banner">
            <div class="maxheight">

            <img src="/static/general/images/alpha.png" alt="">

            </div>
          </div>
        </div>
        <div class="grid_3">
          <div class="banner">
           
            <div class="maxheight"><img src="/static/general/images/icon2.png" alt=""></div>
          </div>
        </div>
      <div class="grid_3">
          <div class="banner">
           
            <div class="maxheight"><img src="/static/general/images/icon4.png" alt=""></div>
          </div>
        </div>
        <div class="grid_3">
          <div class="banner">
            
            <div class="maxheight"><img src="/static/general/images/icon3.png" alt=""></div>
          </div>
        </div>
       
      </div>
     </article>
      </section> -->


      <div class="row">
      <div class="col s12 m3">
      <center>
<img src="/static/general/images/alpha.png" width="180px" >
      </center>
      </div>
      <div class="col s12 m3">
    <center>
    <img src="/static/general/images/icon2.png" width="180px">
      </center>
      </div>
      <div class="col s12 m3">
      <center>
<img src="/static/general/images/icon4.png" width="180px">
      </center>
      </div>
      <div class="col s12 m3">
      <center>
<img src="/static/general/images/icon3.png" width="180px">
      </center>
      </div>
      </div>



<!-- 
      <article class="block-1">
        <div class="container_12">
            <font color="white"></font><h2>AWARDS AND SCHOLARSHIP</h2>          
  <li>Golds ,Silver and Bronze Medals for Group Champion in School</li>
  <li>Golds Medals to state Champions</li>
    <li>Champion's Champion Trophy </li>
    <li>Maths Intellect Trophy</li>
    <li>Merit Certificates </li>
    <li>10 Best School Trophy </li>
    <li>Participation Certificates for every Participants</li>
    <li>Scholarship of Excellence in Abacus & Vedic maths for top 100 Students </li>
          </div>
     
      </article>
       -->

<div class="row">
  <div class="col s12 m1"></div>
        <div class="col s12 m5">
          <div class="card indigo lighten-4" background-color="#FFD700">
            <div class="card-content   black-text">
              <span class="card-title">AWARDS AND SCHOLARSHIP</span>
               <li>Golds ,Silver and Bronze Medals for Group Champion in School</li>
  <li>Golds Medals to state Champions</li>
    <li>Champion's Champion Trophy </li>
    <li>Maths Intellect Trophy</li>
    <li>Merit Certificates </li>
    <li>10 Best School Trophy </li>
    <li>Participation Certificates for every Participants</li>
    <li>Scholarship of Excellence in Abacus & Vedic maths for top 100 Students </li>

            </div>
            
          </div>
        </div>

        <div class="col s12 m5">
          <div class="card indigo lighten-4" background-color="#FFD700">
            <div class="card-content   black-text">
              <span class="card-title">FINAL ROUND - NAVMO 2017</span>
    <li><b>Date :</b> 14th January 2017 </li>
    <li><b>Venue :</b> Symbiosis International School , Gate No. 3, Symbiosis Viman Nagar Campus, Off., New Airport Rd, Viman Nagar, Pune, Maharashtra 411014 </li>
    <br>

    <li><b>Examination Time :</b> 11 am - 1 pm </li>
    <li><b>Reporting Time :</b> 10 am </li>
    <li><b>Prize Distribution Event :</b> 4 pm - 7 pm </li>
    <br>

            </div>
            
          </div>
        </div>
      </div>

<div class="row">
  <div class="col s12 m1"></div>

  <div class="col s12 m10">
    <center><h5>Map Location for Venue</h5></center>
<div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: 18.565429, lng: 73.906916};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }


    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7AY4iYv8nuu46E_NP-5lpBeDW2MYcxNw&callback=initMap">
    </script>

  </div>

</div>

<div class="row">
  <div class="col s12 m1"></div>

  <div class="col s12 m10">
    <div class="card indigo lighten-4" background-color="#FFD700">
            <div class="card-content   black-text">
              <center><span class="card-title">Our Sponsers</span></center>
    <!-- <center><h3></h3></center> -->
    <hr>
    <center><a href="http://www.codenicely.in/"><img src="/media/sponsers/codenicely.png" width="30%"></a></center>
    <br>
    <center><a href="http://www.llynkr.com/"><img src="/media/sponsers/llynkr.jpg" width="30%"></a></center>
    <br>
    <center><a href="http://www.brainxindia.com/"><img src="/media/sponsers/brainxindia.png" width="30%"></a></center>
    <br>
    
    <hr>


  </div>
</div>
</div>
</div>





     </body>


    {% endblock content %}
    {% include "base_foot.html" %}
   
    </html>